/* Container background */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
  }
  
  /* Card layout */
  .login-card {
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Input fields */
  .login-card label {
    text-align: left;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #444;
  }
  
  .loginInput, .login-card select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 0.95rem;
  }
  
  .login-card button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007185;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
  }
  
  .login-card button[type="submit"]:hover {
    background-color: #005f6a;
  }
  
  /* ReadMe Button */
  .rememberMeContainer{
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  
  .remember-label{
    width: 90%;
  }

  /* Signup Link */
  .signup-link {
    margin-top: 12px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .signup-link span {
    color: #007185;
    cursor: pointer;
    text-decoration: underline;
  }
  